.container{
    display: flex;
    width: 100vw;
    overflow: hidden;
}

.searchBox{
    position: relative;
    flex-shrink: 0;
    height: 87vh;
    width: 40vw;
    background-color: rgba(169, 187, 203, 0.3);
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 5vh 3vw;
    margin-top: 3vh;
    transition: .3s ease all;
    overflow: hidden;
}

.searchBoxInputFields{
    display: flex;
    flex-direction: column;
}

.hideSearchBox{
    transform: translateX(-40vw);
}

.hideInputFields{
    height: 0
}

.tip{
    align-self: flex-start;
    margin-bottom: 1.5em;
}
.searchBar{
    margin-top: .5em;
    margin-bottom: .5em;
}

.currentLocationButton{
    width: 34vw;
    margin-top: .5em;
}

.lnglatInputs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .5em;
}

.coordInput{
    width: 16.6vw
}

.label{
    color: black;
}
.label:hover{
    color: black;
}

.resultsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: 60vw;
    height: 84vh;
    padding-top: 1vh;
    margin-top: 5vh;
    overflow-y: scroll;
    transition: .4s ease all;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.resultsContainer::-webkit-scrollbar{
    display: none;
}

.shiftResultsContainer{
    transform: translateX(-40vw);
    width: 48vw;
}

.mapContainer{
    margin-top: 5vh;
    flex-shrink: 0;
    width: 50vw;
    height: 80vh;
    border-radius: 8px;
    background-color: rgb(193, 229, 207);
    transform: translateX(40vw);
    transition: .4s ease all;
}

.showMapContainer{
    transform: translateX(-40vw);
}

