.container{
    height: 100px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: .5em;
    padding: 1.5em;
    display: flex;
    align-items: center;
    position: relative;
    transition: .3s ease all;
}

.container:hover{
    transform: scale(1.02);
}

.icon {
    background-color: #e8e8e870;
    padding: .8em;
    margin-right: 1em;
    border-radius: 50%;
    box-sizing: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view{
    position: absolute;
    right: 5%;
}

.geoplace {
    background-color: #e2d5e9;
}

.park {
    background-color: #c8dfc2;
}

.waterbody {
    background-color: #bccfdb;
}

