.containerGeoplace{
    height: 100px;
    width: 100%;
    background-color: #b9ab94;
}

.containerPark{
    height: 100px;
    width: 100%;
    background-color: #9eb994;
}

.containerWaterbody{
    height: 100px;
    width: 100%;
    background-color: #9cb9ce;
}

