.container{
    flex-shrink: 0;
    height: 100px;
    width: 80%;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: .3s ease all;
}

.container:hover{
    transform: scale(1.02);
    opacity: .95;
}

.containerSelected{
    height: 400px;
    align-items: flex-start;
}

.icon {
    background-color: #e8e8e870;
    padding: .8em;
    margin-right: 1em;
    border-radius: 50%;
    box-sizing: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}


.headingContainer{
    display: flex;
    align-items: center;
}

.waterbodyDetails{
    padding: 2em .5em;
    width: 90%;
    display: grid;
    row-gap: 8px;
    grid-template-columns: 1fr 2fr;
}

.view{
    position: absolute;
    right: 5%;
}
.close{
    position: absolute;
    right: 5%;
    transform: scale(1.1);
    transition: .3s ease all;
}

.geoplace {
    background-color: #e2d5e9;
}

.park {
    background-color: #c8dfc2;
}

.waterbody {
    background-color: #bccfdb;
}

@media screen and (max-width: 600px) {
    .container{
        width: 90%;
    }
}
@media screen and (max-width: 500px) {
    .icon {
        padding: .7em;
        margin-right: .8em;
    }
    .container{
        padding: 1em;
        height: fit-content;
    }
}