.container{
    position: absolute;
    height: 84px;
    width: 34vw;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 1em 1.5em;
    display: flex;
    flex-direction: column;
}

.heading{
    display: flex;
    align-items: center;
}

.details{
    margin-top: 2em
}

.view{
    position: absolute;
    right: 5%;
    cursor: pointer;
}

.grid{
    margin-top: 1em;
    margin-bottom: .5em;
    padding-right: .5em;
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    row-gap: 4px;
}

.icon {
    background-color: #e8e8e870;
    padding: .8em;
    margin-right: 1em;
    border-radius: 50%;
    box-sizing: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.place {
    background-color: #e2d5e9;
}

.park {
    background-color: #c8dfc2;
}


@media screen and (max-width: 1050px) {
    .container{
        width: 94vw;
    }
}
