.container{
    flex-shrink: 0;
    height: 72px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 1em 1.5em;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #adc6c9;
    cursor: pointer;
}

.heading{
    display: flex;
    align-items: center;
}

.details{
    margin-top: 2em;
}

.view{
    position: absolute;
    right: 5%;
}

.icon {
    background-color: #e8e8e870;
    padding: .8em;
    margin-right: 1em;
    border-radius: 50%;
    box-sizing: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    margin-top: 1em;
    margin-bottom: .5em;
    padding-right: .5em;
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    row-gap: 4px;
}