.container{
    display: flex;
    width: 100vw;
    overflow: hidden;
}

.searchBox{
    position: relative;
    flex-shrink: 0;
    height: 87vh;
    width: 40vw;
    min-width: 450px;
    background-color: rgba(169, 187, 203, 0.3);
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 5vh 3vw;
    margin-top: 3vh;
    overflow: hidden;
}


.searchBoxInputFields{
    display: flex;
    flex-direction: column;
}


.hideInputFields{
    height: 0
}

.tip{
    align-self: flex-start;
    margin-bottom: 1.5em;
}
.searchBar{
    margin-top: .5em;
    margin-bottom: .5em;
    width: 100%
}

.toggleOutput{
    width: 100%;
    margin-top: .5em;
}

.currentLocationButton{
    width: 100%;
    margin-top: .5em;
}

.lnglatInputs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .5em;
}

.coordInput{
    width: 48.5%
}

.label{
    color: black;
}
.label:hover{
    color: black;
}

.resultsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: 60vw;
    height: 84vh;
    padding-top: 1vh;
    margin-top: 5vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.resultsContainer::-webkit-scrollbar{
    display: none;
}

.mapContainer{
    margin-top: 5vh;
    flex-shrink: 0;
    width: 50vw;
    height: 80vh;
    border-radius: 8px;
    background-color: rgb(193, 229, 207);
}

.instructions{
    align-self: flex-start;
    padding: 0 5vw;
    width: 100%;
}


.instructionsList li{
    max-width: 600px;
    margin-top: 1.5em;
    color: whitesmoke
}
.instructionsList li.subListItem{
    margin-left: 2em;
    margin-top: .5em;
    max-width: calc(600px - 2em)
}

.instructionsList li.subsubListItem{
    margin-left: 4em;
    margin-top: .5em;
    max-width: calc(600px - 4em)
}


@media screen and (max-width: 1050px) {
    .searchBox{
        min-height: unset !important;
        height: 700px;
        width: 100vw;
    }
    .container{
        flex-direction: column;
    }
    .resultsContainer{
        width: 100vw !important;
    }
    .mapContainer{
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .searchBox{
        min-width: unset;
    }
}

@media screen and (max-height: 1200px) {
    .searchBox {
        min-height: 100%;
    }
}

