.container{
    display: flex;
    justify-content: space;
}
.sidebox{
    width: 25vw;
    height: 100%;
    box-shadow: 1px 1px 8px rgba(0,0,0,0,.1);
    -webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 1px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}
.form{
    align-self: center;
    height: 50vh;
    width: 90%;
    margin-top: 5%;
}
.button{
    margin-top: 1.5em;
}
.inputgroup{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    margin-top: 3%;
}
.currentLocation{
    width: 100%;
    margin-top: 5%;
}
.main{
    margin-top: 2vh;
    margin-left: 3vw;
    height: 92%;
    width: 70vw;
}

.subtitle{
   margin-top: 2em;
   margin-bottom: 1em;
   text-align: center;
}